.askName,
.greeting-text-name,
.greeting-time {
  display: none;
}

.askName {
  padding: 10px;
  font-size: 40px;
  background-color: rgba(242, 170, 76, 0);
  border: none;
  border-bottom: 1px solid rgba(242, 170, 76, 0);
  position: relative;
  bottom: 70px;
}

.askName:focus {
  outline: none;
  border-bottom: 1px solid var(--black-color);
}

.greeting-text-wrap {
  font-size: 40px;
  color: rgba(16, 24, 32, 0.6);
  display: flex;
  height: 80px;
  align-items: center;
}

.showing {
  display: flex;
}
