.askName,
.greeting-text-name,
.greeting-time {
  display: none;
}

.askName {
  padding: 10px;
  font-size: 40px;
  border: none;
}

.askName:focus {
  outline: none;
  border-bottom: 1px solid var(--black-color);
}

.greeting-text-wrap {
  font-size: 40px;
  color: var(--black-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.showing {
  display: flex;
}
